@import './../../styles/media-queries.scss';

.mastHead {
	padding-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;

	@include md {
		padding-top: 2rem;
		margin-bottom: 2rem;
	}

	@include lg {
		padding-top: 3rem;
		margin-bottom: 3rem;
	}

	@include xl {
		padding-top: 4rem;
		margin-bottom: 4rem;
	}
}
