.wrapper {
	display: flex;
	padding-left: 1.2rem;
}

.item {
	display: flex;
	opacity: 0.5;

	&:not(:last-child) {
		margin-right: 1.2rem;
	}
}

.input {
	opacity: 0;
	position: absolute;
}

.label {
	display: flex;
	position: relative;
	padding: 1.2rem;
	cursor: pointer;

	&:before,
	&:after {
		position: absolute;
		content: '';
		border-radius: 50%;
		transition: all 50ms ease;
		display: block;
		top: 50%;
	}

	&:before {
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 16px;
		height: 16px;
		border: 2px solid var(--color-text);
	}

	&:after {
		width: 8px;
		height: 8px;
		background-color: var(--color-text);
		transform: translate(-13px, -50%);
		opacity: 0;
	}

	span {
		display: inline-block;
		margin-left: 0.5rem;
	}
}

.active {
	opacity: 1;

	label {
		&:after {
			opacity: 1;
		}
	}
}
